<nav>
  <ul>
  {% for item in site.data.navigation %}
    <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
  {% endfor %}
  </ul>
  <p>
    <ul>
      <li><a href="https://lsst-tvssc.github.io/">Transients and
      Variable Stars (TVS)</a></li>
      <li><a href="https://rubin-smwlv.github.io/">Stars, Milky Way and Local Volume (SMWLV)</a></li>
      <li><a href="http://lsst-sssc.github.io/">Solar System Science Collaboration (SSSC)</a></li>
    </ul>
  </p>
</nav>
