* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.current {
  color: green;
}

/* Style the header */
header {
  padding: 0px;
  text-align: center;
  font-size: 35px;
  color: black;
}

logo-right {
  text-align: left;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  /*height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

cl {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

cl li {
  padding-left: 1em;
  text-indent: -1em;
}

cl li:before {
  content: "â˜";
  padding-right: 5px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
//  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;

}
.grid-container2 > div {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid #aaa;
  padding: 20px 20px;
}

page-title {
  text-align: left;
  font-size: 35px;
  color: blue;
}

section-title {
  text-align: left;
  font-size: 28px;
  color: blue;
}

banner-text {
  text-align: left;
  font-size: 20px;
  color: black;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

table, th, td {
  padding: 15px;
}

dt {
  font-weight: bold;
}

dd:before {
    content: "\2023";
    padding-right: 5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
